<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Lucas Fernandes</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                Fowarding-Message/Telegram
            </div>
        </header>

        {% block content %}{% endblock %}
        
    </body>
</html>